<template>
    <div id="controls">
        <button id="prev">&lt;</button>
        <div id="year"></div>
        <button id="next">&gt;</button>
    </div>
    <div id="books"></div>
    <r33d-database></r33d-database>
    <style>
        #controls {
            align-items     : center;
            display         : flex;
            justify-content : space-between;
        }

        #books {
            display               : grid;
            grid-template-columns : repeat(auto-fit, minmax(auto, 200px));
            max-width             : 100vw;
        }

        r33d-bookshelf-book {
            height : 300px;
            width  : 200px;
        }
    </style>
</template>
