<template>
    <div id="container">
        <label>
            <span class="label-text"></span>
        </label>
        <img id="preview-image">
    </div>
    <r33d-database></r33d-database>
    <style>
        #container {
            align-items    : flex-start;
            display        : flex;
            flex-direction : column;
        }

        label {
            display        : flex;
            flex-direction : row;
            margin         : 5px 0;
            width          : 100%;
        }

        .label-text {
            flex : 0 0 120px;
        }

        label :not(.label-text) {
            flex : 1 1 100%;
        }

        textarea {
            min-height : 150px;
        }

        #preview-image {
            display : none;
        }

        #preview-image[data-has-image="true"] {
            display     : block;
            height      : 299px;
            margin-left : 120px;
            max-width   : 100%;
            width       : 200px;
        }
    </style>
</template>
