<template>
    <menu>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/bookshelf.html">Book Shelf</a></li>
            <li><a href="/pages/authors.html">Authors</a></li>
            <li><a href="/pages/books.html">Books</a></li>
            <li><a href="/pages/publishers.html">Publishers</a></li>
            <li><a href="/pages/readings.html">Readings</a></li>
            <li><a href="/pages/skimmings.html">Skimmings</a></li>
        </ul>
    </menu>
    <slot></slot>
    <r33d-service-worker></r33d-service-worker>
    <style>
        menu, ul {
            padding : 0;
        }

        menu ul {
            display         : flex;
            flex-wrap       : wrap;
            justify-content : space-around;
            list-style-type : none;
        }
    </style>
</template>
