<template>
    <div id="book">
        <div id="status">
            <r33d-book-progress></r33d-book-progress>
        </div>
        <div id="overlay">
            <p id="title"></p>
            <p id="author"></p>
            <p id="reading-dates">
                <span id="from-date"></span>
                -
                <span id="to-date"></span>
            </p>
        </div>
        <img id="cover">
    </div>
    <r33d-database></r33d-database>
    <style>
        #book {
            display         : flex;
            flex-direction  : column;
            justify-content : center;
        }

        #cover {
            height     : auto;
            max-height : 300px;
            max-width  : 204px;
            width      : auto;
        }

        #overlay {
            display : none;
            cursor  : pointer;
        }

        :host(:hover) #overlay,
        #book.active #status {
            background : rgba(0, 0, 0, 0.7);
            box-sizing : border-box;
            color      : #fff;
            display    : block;
            height     : 300px;
            padding    : 10px;
            position   : absolute;
            width      : 204px;
            z-index    : 10;
        }

        #status {
            display : none;
        }

        #book.active #status {
            align-items     : center;
            background      : rgba(128, 128, 128, 0.5);
            color           : #000;
            display         : flex;
            justify-content : center;
        }
    </style>
</template>
